body .hide-it {
  display: none;
}
body .autocomplete {
  position: relative;
}
body .autocomplete input {
  display: block;
  border-radius: 5px;
  height: 25px;
  width: 130px;
}
body .autocomplete span {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  min-width: 134px;
  color: black;
  cursor: default;
  display: inline-block;
  z-index: 5;
}
body .autocomplete span.hide-it {
  display: none;
}
body .autocomplete div {
  position: absolute;
  top: 32px;
  left: 2px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  z-index: 5;
}
body .autocomplete div ol {
  margin: 0;
  padding: 0;
  min-width: 134px;
}
body .autocomplete div ol li {
  cursor: pointer;
  color: black;
  list-style-position: inside;
  list-style: none;
}
body .autocomplete div ol li.highlighted {
  background-color: black;
  color: white;
}
